@inherits Westwind.RazorHosting.RazorTemplateBase<HttpRequestData>
@using WebSurge
@{    
    string previewButtonText = Model.GetOutputType();                    
}
<!DOCTYPE HTML>
<html>
<head>
    <link href='css/WebSurge.css' type='text/css' rel='stylesheet' />
    <link href='css/font-awesome.css' type='text/css' rel='stylesheet' />
    <style>
        body {
            padding: 10px;
        }
         .header {
             margin-bottom: 0;
             font-size: 1.2em;
             padding: 4px 10px;
        }
        pre,.code {            
			margin: 0;
            margin-bottom: 25px;
            padding-top: 5px;       
        }    
		
		.code>div {
			margin: 0 0 1px 0;
			padding: 0;
		}
		.first-line {            
			font-size: 1.07em;
            font-weight: bold;
			padding: 5px 0px 8px 0;
			margin-bottom: 5px;
			border-bottom: 1px solid lightgrey;
        }
		.wrapline {
		   text-indent: -31px;
		   padding-left: 31px !important;
		}
    </style>
</head>
<body>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class='error-display'>
            <div class="error-header">
                <div style="float: left;"><i class="fa fa-exclamation-circle"></i></div>
                <div style="padding-left: 25px;">@Model.ErrorMessage</div>
            </div>
        </div>
    }

    <div class="header"><i class="fa fa-upload"></i> Request Headers</div>

    <pre class="grey-gradient">
<div class="first-line wrapline"><span style='color: darkred;'>@Model.HttpVerb</span> <a href='@Model.Url'>@Model.Url</a> HTTP/1.1</div>@{
    foreach (HttpRequestHeader header in @Model.Headers)
    {
<text>@header.Name: @header.Value</text>
    }
    
    if(!string.IsNullOrEmpty(Model.RequestContent))
{
<text>
@(Model.GetRequestContentAsString())</text>}}</pre>


    @if (@Model.StatusCode != null)
    {


        <div class="header">
            <i class="fa fa-download"></i> Http Response
            <div class='timetaken'>
                @(Model.TimeTakenMs)ms  @if (previewButtonText != null)
                { <text>|</text> <a href="app://preview/">Show @previewButtonText</a> }
            </div>
        </div>

        <pre class="grey-gradient">
    @if (!string.IsNullOrEmpty(Model.StatusCode)) 
    { 
        @{ string cssClass = Model.StatusCode.CompareTo("399") > 0 ? "error-response" : "success-response"; }
<div class="@cssClass first-line wrapline">HTTP/1.1 @Model.StatusCode @Model.StatusDescription</div>}@Model.ResponseHeaders
    @if (Model.ResponseContent != null)
    {
<text>@Model.ResponseContent.Trim()</text>
    }
</pre>
    }
</body>

</html>