@inherits Westwind.RazorHosting.RazorTemplateFolderHost<HttpRequestData>
@using WebSurge
@{    
    string responseBodyType = Model.GetTypeOfContent();
    string requestBodyType = Model.GetTypeOfContent(Model.ContentType);
    string cssClass = null;
    if (!string.IsNullOrEmpty(Model.StatusCode))
    {
        cssClass = Model.StatusCode.CompareTo("399") > 0 ? "error-response" : "success-response";
    }
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"> 
    <link href='css/WebSurge.css' type='text/css' rel='stylesheet' />
    <link href='css/font-awesome.css' type='text/css' rel='stylesheet' />
    <link href='css/request.css' type='text/css' rel='stylesheet' />
</head>
<body>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class='error-display'>
            <div class="error-header">
                <div style="float: left;"><i class="fa fa-exclamation-circle"></i></div>
                <div style="padding-left: 25px;">@Model.ErrorMessage</div>
            </div>
        </div>
    }

    <div class="header" style="margin-top: 0;">

        <i class="fa fa-minus-square code-collapse"></i> <i class="fa fa-upload"></i> Request Headers
    </div>

    <div class="codewrapper">
        <pre class="grey-gradient">
<div class="first-line wrapline"><span style="color: darkred;font-size: 1.3em;">@Model.HttpVerb</span> <a href='@Model.Url'>@Model.Url</a> HTTP/1.1</div>@foreach (WebSurge.HttpRequestHeader header in @Model.Headers)
    {
<text>@header.Name: @header.Value</text>
    }</pre>
    </div>
    @if (!string.IsNullOrEmpty(Model.RequestContent))
    {

        <div class="header" style="margin-top: 0;">
            @if (!string.IsNullOrEmpty(requestBodyType))
            {
                if ("json,xml,urlencoded".Contains(requestBodyType))
                {
                    <div class="formattingRequestBody">
                        <a href="javascript:{}" data-id="Formatted" title="See a formatted and syntax colored view of the HTTP response based on the content type">Formatted @requestBodyType</a>
                        <a href="javascript:{}" data-id="Raw" class="active" title="The raw HTTP response content as returned by the server">Raw Request</a>

                    </div>
                }
            }
            <i class="fa fa-minus-square code-collapse"></i>
            <i class="fa fa-cloud-upload"></i> Request Content
        </div>
        <div class="codewrapper">
            <pre class="grey-gradient" id="RequestBodyRaw">@Model.GetRequestContentAsString()</pre>

            @if (!string.IsNullOrEmpty(requestBodyType))
            {
                <pre id="RequestBodyFormatted" class="grey-gradient" style="display:none">@Model.GetFormattedContent(Model.GetRequestContentAsString(),requestBodyType)</pre>
            }
        </div>
    }

    @if (Model.StatusCode != null)
    {
        <div class="header">
            <i class="fa fa-minus-square code-collapse"></i>
            <i class="fa fa-download"></i> Http Response Headers
            <div class='timetaken'>
                @if(Model.ResponseLength > 0) {
                   <text>@Model.ResponseLength.ToString("n0") bytes &nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
                
                Time: <b>@(Model.TimeTakenMs.ToString("n0"))ms</b> &nbsp;&nbsp;&nbsp;&nbsp;
                First byte: <b>@(Model.TimeToFirstByteMs.ToString("n0"))ms</b>                
            </div>
        </div>
        <div class="codewrapper">
            <pre class="grey-gradient"><div class="@cssClass first-line wrapline">HTTP/1.1 @Model.StatusCode @Model.StatusDescription</div>@Model.ResponseHeaders</pre>
        </div>

        if (Model.ResponseContent != null)
        {
            <div class="header" style="margin-top: 0">

                @if (responseBodyType != null)
                {
                    if ("html,json,xml,css,javascript".Contains(responseBodyType))
                    {
                        <div class="formattingResponseBody">
                            @if ("xml,html,json".Contains(responseBodyType))
                            {
                                <a href="app://preview/" title="Use the configured Shell association to view the content. This is your default browser for HTML and editor or viewer for XML and JSON typically">Viewer</a>
                            }
                            <a href="javascript:{}" data-id="Formatted" title="See a formatted and syntax colored view of the HTTP response based on the content type">Formatted @responseBodyType</a>
                            <a href="javascript:{}" data-id="Raw" class="active" title="The raw HTTP response content as returned by the server">Raw Response</a>

                        </div>
                    }
                }
                <i class="fa fa-minus-square code-collapse"></i>
                <i class="fa fa-cloud-download"></i> Http Response Body 
            </div>
            <div class="codewrapper">
                <pre id="ResponseBodyRaw" class="grey-gradient" style="display:none">@Model.ResponseContent.Trim()</pre>
                @if (responseBodyType != null)
                {
                    <pre id="ResponseBodyFormatted" class="grey-gradient">@Model.GetFormattedContent(Model.ResponseContent.Trim(), responseBodyType)</pre>
                }
            </div>
        }
    }
	
    <script src="scripts/Ace/ace.js" charset="utf-8"></script>
    <script src="scripts/jquery.min.js"></script>
    <script>
        window.serverVars = {
            responseLanguage: "@responseBodyType",
            requestLanguage: "@requestBodyType",
            theme: "@App.Configuration.StressTester.FormattedPreviewTheme",
            showLineNumbers: false,
            allowEdit: false,
            baseUrl: ""
        };
    </script>
    <script src="scripts/Request.js"></script>
</body>
</html>